WebApplication1/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMachine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Machine" nillable="true" type="tns:Machine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachine" nillable="true" type="tns:ArrayOfMachine" />
  <xs:complexType name="Machine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:MCategory" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Machine" nillable="true" type="tns:Machine" />
  <xs:complexType name="MCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Machines" nillable="true" type="tns:ArrayOfMachine" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MCategory" nillable="true" type="tns:MCategory" />
  <xs:complexType name="ArrayOfMCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MCategory" nillable="true" type="tns:MCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMCategory" nillable="true" type="tns:ArrayOfMCategory" />
</xs:schema>