WebApplication1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52420/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52420/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52420/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" />
      <xsd:import schemaLocation="http://localhost:52420/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachineRepository_GetMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachines" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetMachineById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineById" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetMachineById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetAllMachinesNameId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMachinesNameId" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetAllMachinesNameId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMachinesNameIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_UpdateMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMachine" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_UpdateMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_AddMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMachine" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_AddMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IMachineRepository_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachineRepository">
    <wsdl:operation name="GetMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/GetMachines" message="tns:IMachineRepository_GetMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/GetMachinesResponse" message="tns:IMachineRepository_GetMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/GetMachineById" message="tns:IMachineRepository_GetMachineById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/GetMachineByIdResponse" message="tns:IMachineRepository_GetMachineById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMachinesNameId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/GetAllMachinesNameId" message="tns:IMachineRepository_GetAllMachinesNameId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/GetAllMachinesNameIdResponse" message="tns:IMachineRepository_GetAllMachinesNameId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/UpdateMachine" message="tns:IMachineRepository_UpdateMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/UpdateMachineResponse" message="tns:IMachineRepository_UpdateMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/AddMachine" message="tns:IMachineRepository_AddMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/AddMachineResponse" message="tns:IMachineRepository_AddMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/Delete" message="tns:IMachineRepository_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/DeleteResponse" message="tns:IMachineRepository_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachineRepository/GetCategories" message="tns:IMachineRepository_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachineRepository/GetCategoriesResponse" message="tns:IMachineRepository_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMachineRepository" type="tns:IMachineRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMachines">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/GetMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineById">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/GetMachineById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMachinesNameId">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/GetAllMachinesNameId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMachine">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/UpdateMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMachine">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/AddMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IMachineRepository/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IMachineRepository" binding="tns:BasicHttpBinding_IMachineRepository">
      <soap:address location="http://localhost:52420/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>