WebApplication1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMachineNameIdDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachineNameIdDto" nillable="true" type="tns:MachineNameIdDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachineNameIdDto" nillable="true" type="tns:ArrayOfMachineNameIdDto" />
  <xs:complexType name="MachineNameIdDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineNameIdDto" nillable="true" type="tns:MachineNameIdDto" />
</xs:schema>