WebApplication1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52420/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" />
  <xs:import schemaLocation="http://localhost:52420/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Dto" />
  <xs:element name="GetMachines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" minOccurs="0" name="GetMachinesResult" nillable="true" type="q1:ArrayOfMachine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" minOccurs="0" name="GetMachineByIdResult" nillable="true" type="q2:Machine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMachinesNameId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMachinesNameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Dto" minOccurs="0" name="GetAllMachinesNameIdResult" nillable="true" type="q3:ArrayOfMachineNameIdDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" minOccurs="0" name="machine" nillable="true" type="q4:Machine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" minOccurs="0" name="machine" nillable="true" type="q5:Machine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WaterLoggic.Core.Models" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q6:ArrayOfMCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>